@model PerfectBlog.Models.Blog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/materialize/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Content/materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body class="blue-grey lighten-5">
    <!-- jQuery is required by Materialize to function -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>
    <script type="text/javascript">        //custom JS code   </script>
    <div class="z-depth-1 blue lighten-1">
        <div style="height: 260px"></div>
        <div class="right-block-large">
            <div><div class="add-floating-button"><a class="floating-bottom btn-floating btn-large waves-effect waves-light pink darken-3"><i class="material-icons">add</i></a></div></div>
        </div>
    </div>
    <div class="main-block-large">
        <div class="z-depth-1 white info-block-large">
            <h6 class="blog-header grey-text"><b>My blogs</b></h6>
            <div class="collection">
                @foreach (var item in ViewBag.Blogs)
                {
                    <!--<a href="Url.Action("Index", "Blog", new { blogId = item.Id })" class="collection-item"><b>item.Name</b> item.Owner.Login</a>-->
                <a href="@Url.Action("index", "Blog" , new { blogid=item.Id })" class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <span class="title"><b>@item.Name</b></span>
                    <p class="truncate">
                        @item.Records[0].Name: <br>
                        @item.Records[0].Value
                    </p>
                </a>
                }
            </div>
        </div>
        <div class="z-depth-1 white info-block-large">
            <h6 class="blog-header grey-text"><b>Others blogs</b></h6>
            <div class="collection">
                @foreach (var item in ViewBag.Blogs)
                {
                    <a href="@Url.Action("index", "Blog" , new { blogid=item.Id })" class="collection-item avatar">
                        <i class="material-icons circle">folder</i>
                        <span class="title"><b>@item.Name</b></span>
                        <p class="truncate">
                            @item.Owner.Login <br>
                            @item.Records[0].Name: @item.Records[0].Value
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>
</body>
</html>
